.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--bg-primary);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-secondary);
    border-radius: 500px;
    border: solid 1px transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background-color: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: var(--fg-secondary);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login button {
    border: none;
    cursor: pointer;
}

.header__login button:hover {
    transform: scale(1.03);
}

.header__login .subscribe {
    color: var(--fg-subscribe);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
}

.header__login .subscribe:hover {
    color: var(--fg-secondary);
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: var(--bg-body);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bg-primary);
}

.playlist {
    margin: 24px;
}

.playlist #greeting {
    color: var(--fg-secondary);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .sections {
    color: var(--fg-secondary);
    font-size: 24px;
    font-weight: 700;
}

.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 16px;
}

.cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    padding: 16px;
    position: absolute;
    color: var(--fg-secondary);
    font-size: 24px;
    font-weight: 700;
}

.card1 {
    background-color: var(--bg-card-1);
}

.card2 {
    background-color: var(--bg-card-2);
}

.card3 {
    background-color: var(--bg-card-3);
}

.card4 {
    background-color: var(--bg-card-4);
}

.card5 {
    background-color: var(--bg-card-5);
}

.card6 {
    background-color: var(--bg-card-6);
}

.card7 {
    background-color: var(--bg-card-7);
}

.card8 {
    background-color: var(--bg-card-8);
}

.card9 {
    background-color: var(--bg-card-9);
}

.card10 {
    background-color: var(--bg-card-10);
}

.card11 {
    background-color: var(--bg-card-11);
}

.card12 {
    background-color: var(--bg-card-12);
}

.card13 {
    background-color: var(--bg-card-13);
}

.card14 {
    background-color: var(--bg-card-14);
}

.card15 {
    background-color: var(--bg-card-15);
}

.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    min-width: 372px;
}

.artist-card {
    background-color: var(--bg-artist-card);
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}

.artist-card:hover {
    background-color: var(--bg-artist-card-hover);
}

.card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.artist-img {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    color: var(--fg-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}

.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
}

.artist-category {
    color: var(--fg-artist-category);
    font-weight: 400;
    font-size: 0.875rem;
}

.play {
    position: relative;
}

.play .fa-play {
    position: absolute;
    right: 10px;
    top: 200px;
    padding: 18px;
    background-color: var(--bg-play);
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}

#result-artist {
    padding: 20px 40px;
}
